.streamer-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 340px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}

.streamer-card__name{
  margin: 0;
  font-size: 32px;
}

.streamer-card__platform{
  margin: 12px;
  font-size: 20px;
}

.streamer-card__description{
  text-align: left;
  margin-top: 24px;
}

.streamer-card__image{
  object-fit: cover;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px 2px #2d2d2d32;
  border-radius: 8px;
}

.streamer-card__like-counter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  box-shadow: 0 0 10px 2px #2d2d2d32;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.streamer-card__like-counter_positive{
  background-color: #00FF00;
}

.streamer-card__like-counter_negative{
  background-color: #F40009;
}

.streamer-card__link{
  position: absolute;
  top: 1%;
  left: 1%;
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/eva-fill/arrow-back-11.png);
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
  transition: 1s;
}

.streamer-card__link:hover{
  background-size: 37px 37px;
  height: 37px;
  width: 37px;
}